#Question


A F&B manager wants to determine whether there is any significant difference 
in the diameter of the cutlet between two units. A randomly selected sample of cutlets
was collected from both units and measured? Analyze the data and draw 
inferences at 5% significance level. 
Please state the assumptions and tests that you carried out to check 
validity of the assumptions.

Minitab File : Cutlets.mtw

Null Hypothesis = UnitA = UnitB

Alternate Hypothesis = UnitA (not equal to) UnitB

In [11]:
import pandas as pd
import numpy as np
import warnings
from scipy import stats 
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [13]:
df = df[['Unit A', 'Unit B']]

In [14]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [15]:
Data1 = df['Unit A']

In [16]:
Data2 = df['Unit B']

In [17]:
df['Unit A'].std()

0.2884084841815496

In [18]:
df['Unit B'].std()

0.343400647063108

In [19]:
1-stats.t.cdf(0.98,34)

0.16700417259004996

In [20]:
1-stats.t.cdf(1.41,49)

0.08242797259022738

In [22]:
import scipy

In [23]:
stats.ttest_ind(Data1,Data2,equal_var=True)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [24]:
#hence we fail to reject null hypothesis and there is no significant differnce in diameter of boyh cutlets unit

In [25]:
#Question2: LabTAT

In [26]:
#Null hyp: l1=l2=l3=l4
#Alternate hyp: atleast one sample is dif

In [27]:
import pandas as pd
import numpy as np

import scipy.stats as st

In [28]:
file = pd.read_csv("LabTAT (1).csv")
file.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [29]:
file.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [31]:
st.f_oneway(file.iloc[:,0],file.iloc[:,1],file.iloc[:,2],file.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [32]:
#p value is less than alpha hence reject the null hypothesis


#there is one sample which has difference in TAT

In [33]:
#question3: Buyer's Ratio

#

In [35]:
file1 = pd.read_csv('BuyerRatio.csv')
file1.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [39]:
file1['Observed Values'].value_counts()

Males      1
Females    1
Name: Observed Values, dtype: int64

In [40]:
file1.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [43]:
st.f_oneway(file1.iloc[:,1],file1.iloc[:,2],file1.iloc[:,3],file1.iloc[:,4])

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

In [44]:
#question4: Customer order form

#

In [46]:
file2 =pd.read_csv('Costomer+OrderForm (2).csv')
file2.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [47]:
file2.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [55]:
file2['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [56]:
file2['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [57]:
file2['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [58]:
file2['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [59]:
alpha = np.array([[271,267,269,280],[29,33,31,20]])

In [60]:
alpha

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [61]:
#chi test

In [62]:
stat, p , dof, expected = stats.chi2_contingency(alpha)

In [65]:
stat

3.858960685820355

In [66]:
p

0.2771020991233135

In [67]:
dof

3

In [68]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])